*{
    margin: 0;
    list-style: none;
    padding: 0;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

section{
    width: 100%; 
    margin: 0;
}

header a{
    float: right;
    color: white;
    margin: 10px;
}

#toggleNavButton{
    margin: 10px;
}

.hidden{
    display: none;
}
    