*{
    margin: 0;
    list-style: none;
    padding: 0;
}

/* ---------------Geral-------------------- */

section{
    width: 100%; 
    position: relative;
}

header{
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header a{
    float: right;
    margin-right: 1%;
    margin-top: 0.5%;
    align-items: center;
}

a{
    text-decoration: none;
}

#Info, #Contato{
    height: 100vh;
    padding-top: 3%;
}

/* ---------------Carrossel------------------- */

#ImagemCarrossel{
    height: 100vh; 
    width: 100%;
    text-decoration: none;
}



@media only screen and (min-width: 1300px) and (max-width: 1600px) {
    #ImagemCarrossel{
        height: 92vh; 
        width: 100%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 500px){
    #menu{
        width: 100%;
        font-size: larger;
    }

    #ImagemCarrossel{
        height: 95vh; 
        width: 100%;
    }

    #toggleNavButtonPhone{
        display: flex;
        color: white;
        border-color: rgba(240, 248, 255, 0);
    }    
}