*{
    margin: 0;
    list-style: none;
    padding: 0;
    overflow-x: hidden;
}

/* ---------------Corpo-------------------- */

header{
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header a{
    float: right;
    margin-right: 1%;
    margin-top: 0.5%;
}

header span{
    vertical-align: middle
}

section{
    width: 100%; 
    position: relative;
    scroll-behavior: smooth;
}

#Info{
    height: 100vh;
    padding-top: 3%;
}

#Contato{
    padding-top: 3%;
}

/* ---------------Carrossel------------------- */

#ImagemCarrossel{
    height: 100vh; 
    width: 100%;
}

h5{
    overflow: hidden;
}

#LinkImagem{
    text-decoration: none;
}


@media only screen and (min-width: 1300px) and (max-width: 1600px) {
    #Info, #Contato{
        height: 100vh;
        padding-top: 4.5%;
    }

}

/* Rever essa parte */
@media only screen and (min-width: 200px) and (max-width: 500px){
    #menu{
        width: 100%;
        font-size: larger;
    }

    #toggleNavButtonPhone{
        display: flex;
        color: white;
        border-color: rgba(240, 248, 255, 0);
    }    
}