*{
    overflow-x: hidden;
    vertical-align: middle;
    scrollbar-width: none;
}

/* ---------------Corpo-------------------- */

header{
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header a{
    float: right;
    margin-right: 1%;
    margin-top: 0.5%;
}

section{
    width: 100%; 
    position: relative;
}

/* ----------------------------Sobre---------------------- */

#Info{
    height: 100vh;
    padding-top: 3%;
}

/* ---------------------------Contato----------------------  */


#Contato{
    padding-top: 4%;
    height: 100vh;
    width: 100%;
}

#Comentarios{
    position: absolute;
    width: 95%;
    height: 100vh;
}

#cardComentarios{
    overflow-y: auto;
    max-height: 70vh;
}

/*----------------------- Formulario----------------------- */

.desfocarFundo{
    filter: blur(5px);  
}

#Form{
    background-color: white;
    display: none;
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}

/* ---------------Carrossel------------------- */

#ImagemCarrossel{
    height: 100vh; 
    width: 100%;
}

#LinkImagem{
    text-decoration: none;
}

@media only screen and (min-width: 1300px) and (max-width: 1600px) {
    #Info, #Contato{
        height: 100vh;
        padding-top: 4.5%;
    }

}

/* Rever essa parte */
@media only screen and (min-width: 200px) and (max-width: 500px){
    #menu{
        width: 100%;
        font-size: larger;
    }

    #toggleNavButtonPhone{
        display: flex;
        color: white;
        border-color: rgba(240, 248, 255, 0);
    }    
}